<launch>
	<node pkg="joy" type="joy_node" name="joy_node" >
		<param name="dev" value="/dev/input/by-id/usb-Logitech_Logitech_Cordless_RumblePad_2-joystick" />
		<param name="autorepeat_rate" value="10.0" />
	</node>


	<node pkg="nifti_teleop" type="nifti_teleop_joy.py"
		name="nifti_teleop_joy" output="screen">
		<param name="cmd_vel_topic" value="/nifti_teleop_joy/cmd_vel" />
		<param name="cmd_vel_mux_topic" value="/nav/cmd_vel" />
	</node>

	<include file="$(find nifti_teleop)/launch/nifti_laser_assembler.launch"/>
</launch>
