<launch>
	<param name="/CAN_device" value="/dev/usb/cpc_usb0" />
	<node pkg="nifti_robot_driver" type="nifti_robot_node"
		name="nifti_robot_node" output="screen" />

	<node pkg="topic_tools" type="mux" name="mux_cmd_vel"
		args="/cmd_vel /nifti_teleop_joy/cmd_vel" />

	<node pkg="nifti_teleop" type="nifti_teleop_joy.py"
		name="nifti_teleop_joy" output="screen">
		<param name="cmd_vel_topic" value="/nifti_teleop_joy/cmd_vel" />
		<param name="cmd_vel_mux_topic" value="/nav/cmd_vel" />
	</node>

	<node pkg="LMS1xx" type="LMS100" name="LMS100">
		<param name="host" value="192.168.1.72"/>
	</node>

	<node pkg="tf" type="static_transform_publisher" name="fake_map_tf" args="0 0 0 0 0 0 map odom 100"/>

	<!--include file="$(find omnicamera)/launch/omnicamera.launch"/-->
</launch>
