<launch>
	
	<!-- Launches the robot drivers for the Bluebotics hardware (not the bullet, not the arm) -->
	<include file="$(find nifti_drivers_launchers)/launch/robot.launch"/>

	<!-- Launches the laser driver (no processing) -->
	<include file="$(find nifti_drivers_launchers)/launch/laser.launch"/>

	<!-- Produces the feed for the omnicam and virtual PTZ (no detection) -->
	<include file="$(find nifti_drivers_launchers)/launch/omnicamera.launch"/> 

	<include file="$(find nifti_drivers_launchers)/launch/imu.launch"/> 

        <include file="$(find monitoring)/monitoring.launch"/>

	<!-- Add the arm code when it's ready -->

	<include file="$(find nifti_mapping_launchers)/launch/mapAndNav.launch"/>

	<!-- This allows autonomous flipper control -->
	<include file="$(find nifti_reactive_flippers_vertscan)/launch/fflip_touch.launch"/>

</launch>
